@font-face {
    font-family: 'GillSans';
    src: url('../fonts/GillSans.ttc');
}

 #page_container {
 	min-width: 1440px;
 	margin: auto;
 	display: block;
 	padding:0px;
 	min-height: 650px;
 }

 .question-container {
 	background-color: #FFFFFF;
 	margin:10px;
 	margin-left: -15px;
 	margin-right: -15px;
 	border: 1px solid #ededed;
	overflow: hidden;
 }

 .popular-tags-container {
 	margin: 10px;
 	border: 1px solid #ededed; 
 }
 .popular-members-container {
 	margin: 10px;
 	border: 1px solid #ededed; 
 }
 .popular-members-container .h2 {
 	color: #ffffff;
 }

 #search-field {
 	width: 100%;
 	padding-left: 5px;
 	padding-right: 5px;
 }

 .navbar-search-form {
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

body {
	font-family:'Gill Sans';
	background-color: #efefef;
}

 .img-circle-nav {
 	border-style: solid;
	border-radius: 50%;
	margin-top: 7px;
	margin-left: 10px;
	margin-bottom: 7px;
	width: 40px;
	height: 40px;
	background-color: #fff;
 	border: 2px solid #fff; 
 	vertical-align: middle;
}

.logo {
	display: block;
	width: 210px;
	height: inherit;
	float: left;
	vertical-align: middle;
}
.account-label {
	color: #ffffff;
	display:inline-block;
	padding-left: 15px;
	padding-right: 15px;
  	height: 100%;
	margin-right: 10px;
  	vertical-align:middle;
  	overflow: hidden;
  	text-overflow:ellipsis;
  	max-height: inherit;
  	line-height: inherit;
  	max-width: 190px;
}

.account-btn {
	float: right;
	min-height: 54px;
	padding: 5px;
	vertical-align: middle;
  	color: #E05027;
  	border-radius: 0px;
  	color: #ffffff;
  	background-color: #E06243;
  	margin-right: 11px;
  	padding-left: 10px;
  	padding-right: 10px;
}

.btn-success-nav {
  color: #fff;
  background-color: #E06243;
  border-color: #E06243;
}

.navbar-inverse {
	min-width: 1440px;
	margin-bottom: 5px;
	border: 0px;
}

.account-tool-img {
	height: 20px;
	width: 20px;
}

footer {
	margin-top: 10px;
	min-width: 1440px; 
	height: 60px;
	background-color: #222;
}

.footer-text {
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	line-height: 60px;
}

.ad-container {
	background-color: #222;
 	margin: 10px;
 	border: 1px solid #ededed; 
 	padding: 15px;
 	color: #ffffff;
 	text-align: center;
}

.ad-img {
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px solid #444; 
	width: 150px;
	height: 150px;
}

.qst-left {
	margin-top: 15px;
	height: 100%;
	overflow: hidden;
	padding: 0px;
}

.qst-right {
	height: 100%;
	display: table;
	overflow: hidden;
	border-left: 1px solid #ededed;
}

.qst-right-full {
	height: 100%;
	display: table;
	overflow: hidden;
	width: 595px;
	border-left: 1px solid #ededed;
}

.rating-label {
	background-color: #E06243;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
	font-size: 14px;
	display: block;
	margin: auto;
}

.rating-btn {
	display: block;
	margin: auto;
	padding: 0px;
  	height: 40px;
  	background-color: white;
}

.rating-img {
	height: 40px;
	width: inherit;
}

.header {
	display: block;
	font-size: 20px;
	color: #888;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #ededed;
}

.question-header-full {
	display: block;
	font-size: 30px;
	color: #555;
	text-align: left;
	padding: 5px;
	padding-left: 15px;
	border-bottom: 1px solid #ededed;
}

a.header:hover {
	text-decoration: none;
	color: #222;
}

a.header:focus {
	text-decoration: none;
	color: #222;
}

.question-title-container {
	display: block;
	width: 100%;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #222;
	font-size: 16px;
	margin-right: 0px;
	height: 58px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.question-title-container-full {
	display: block;
	width: 100%;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color: #222;
	font-size: 18px;
	margin-right: 0px;
	min-height: 86px;
}

.answer-title-container {
	display: block;
	width: 100%;
	padding: 20px;
	color: #222;
	font-size: 18px;
	min-height: 172px;
}

.title-text {
	vertical-align: middle;
}

.question-inner-container {
	display: block;
	width: 100%;
	padding-left: 15px;
}
.question-tags-container {
	display: block;
	width: 100%;
	padding-left: 15px;
	margin-bottom: 15px;
}

.tag {
	background-color:#E0704D;
	color: white;
	font-size: 15px;
	text-align: center;
	display: inline-block;
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 5px;
}

.tag:hover {
	color: #444;
}

.question-answers-container {
	display: block;
	height: 28px;
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.tags-header {
	display: block;
	font-size: 17px;
	color: white;
	background-color: #222;
	text-align: center;
	padding: 5px;
}

.tags-body {
	display: block;
	background-color: white;
	min-height: 30px;
	max-width: inherit;
	padding: 15px;
	padding-top: 10px;
}

.members-header {
	display: block;
	font-size: 17px;
	color: white;
	background-color: #222;
	text-align: center;
	padding: 5px;
}

.members-body {
	display: block;
	background-color: white;
	min-height: 30px;
	max-width: inherit;
	padding: 15px;
	padding-top: 10px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 15px;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group {
  padding-left: 0;
  margin-bottom: 0px;
}
a.tag {
	text-decoration: none;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pagination > li > a,
.pagination > li > span {
  color: #555;
  background-color: #fff;
  border: 1px solid #ededed;
}
.pagination {
	margin-left: -15px;
	margin-top: 0px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color:white;
  background-color: #E0704D;
}

.img-circle-qst {
	border-radius: 50%;
	border: 1px #ededed solid;
	width: 42px;
	height: 42px;
	margin-bottom: 7px;
	display: block;
	margin: auto;
}

.img-circle-qst-full {
	border-radius: 50%;
	border: 1px #ededed solid;
	width: 84px;
	height:84px;
	margin-bottom: 7px;
	display: block;
	margin: auto;
}

.input-form {
	border-radius: 0px;
	border-color: #ededed;
	padding: 10px;
}

.short-form {
	width: 90%;
}

.wide {
	margin-right: -15px;
	margin-left: -15px;
}

.style-btn {
	border-radius: 0px;
	background-color: #E06243;
	color: white;
}

.wide-btn {
	display: block;
	margin: auto;
	width: 100%;
}

#login-form {
	margin-top: 20%;
}

.top-offset {
	margin-top: 20px;
}

.bottom-offset {
	margin-bottom: 20px;
}

#inputText {
	margin-left: 15px;
	max-width: 71%;
}

#ask-button-container {
	padding-left: 5px;
	padding-right: 0px;
}
