{% extends "base.html" %}
{% block title %}Ask{% endblock %}
{% block content %}
  <div class="header row">
    <ul class="nav pills">
        <li {% if not tag and not order or order == 'newest' %}class="active"{% endif %}><a href="/newest">Newest</a></li>
        <li {% if order == 'best' %}class="active"{% endif %}><a href="/best">Best</a></li>
        {% if tag %}
        <li class="title">Tag: {{ tag.title }}</li>
        {% endif %}
    </ul>
  </div>
{% if question_list %}
{% for question in question_list %}
<div class="question-container">
  <div class="qst-left">
    <img class="img-circle img-min" src="{{ question.author.avatar }}"></img>
    <button type="submit" class="btn rating-btn">
      <img src="http://104.236.223.159/static/img/up.png" class="rating-img">
    </button>
    <div class="rating-label">{{ question.rating }}</div>
    <button type="submit" class="btn rating-btn">
      <img src="http://104.236.223.159/static/img/down.png" class="rating-img">
    </button>
  </div>
  <div class="qst-right">
    <div class>
      <a href="/question/{{ question.id }}/" class="header">{{ question.title }}</a>
      <div class="question-title-container">
        <div class="title-text">{{ question.content|slice:":250" }}...</div>
      </div>
      <div class="question-inner-container">
				{% for tag in question.tags.all %}
          <a href="?tag={{ tag.title }}" class="tag">{{ tag.title }}</a>
				{% endfor %}
      </div>
      <div class="date-container">{{question.created}}</div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
	<h1>No questions</h1>
{% endif %}
<nav>
  <ul class="pagination pagination-lg">
    {% if question_list.has_previous %}
      <li>
        <a href="?page={{ question_list.previous_page_number }}{% if tag %}&amp;tag={{tag.title }}{% endif %}">&lt;&lt;</a>
      </li>
    {% endif %}
    {% if question_list.has_next %}
    <li>
      <a href="">{{ question_list.number }}</a>
    </li>
    {% endif %}
    {% if question_list.has_next %}
      <li>
        <a href="?page={{ question_list.next_page_number }}{% if tag %}&amp;tag={{ tag.title }}{% endif %}">&gt;&gt;</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
